In [1]:
import pandas as pd
import numpy as np

In [3]:
# IMPORTAÇÃO DA BASE DE EMPRESAS ROTULADAS
empresas_rotuladas_df = pd.read_csv(r'C:\DATASETS\Empresas Rotuladas\empresas_rotuladas.csv', dtype=str, usecols=['cnpj'])
empresas_rotuladas_df

                   cnpj
0        00000942000170
1        00001102000121
2        00005201000181
3        00005201000262
4        00010501000159
...                 ...
1559938  98593668000194
1559939  98669997000252
1559940  98670235000195
1559941  98670656000116
1559942  98674195000150

[1559943 rows x 1 columns]

### Junção com a base de devedores da dívida ativa da União:

In [4]:
# IMPORTAÇÃO DA BASE DE DÍVIDA ATIVA
divida_ativa_df = pd.read_csv(r'C:\DATASETS\Divida_Ativa\divida_ativa_todos.csv', dtype=str)
divida_ativa_df

               CPF_CNPJ                                       NOME_DEVEDOR
0           ***464712**                   ERISVANDO TORQUATO DO NASCIMENTO
1        04718079000141                                        I. B. SOUSA
2           ***468172**                           CLAUDIO BRANDAO DA SILVA
3        05395942000130                 DISTRIBUIDORA VALE DO GUAPORE LTDA
4           ***117482**                    SEBASTIAO PEREIRA DO NASCIMENTO
...                 ...                                                ...
5994589  11966821000101                       WANDERVAL APARECIDO DE FARIA
5994590  38135935000158                  MIL TOPOGRAFIA E CONSULTORIA LTDA
5994591  13758946000163                          ROSANA MESQUITA FERNANDES
5994592  12967577000156  AM E FILHOS COMERCIO DE MATERIAIS PARA CONSTRU...
5994593  25086695000105                            JOSE BONIFACIO SOBRINHO

[5994594 rows x 2 columns]

In [5]:
# Só precisamos dos CNPJs:
divida_ativa_df = divida_ativa_df[divida_ativa_df.CPF_CNPJ.str.len()==14]

In [6]:
# Rotula as empresas
empresas_rotuladas_df['empresa_devedora_uniao'] = (empresas_rotuladas_df.merge(divida_ativa_df, left_on='cnpj', right_on='CPF_CNPJ', how='left', indicator=True).eval('_merge == "both"').astype(bool))
empresas_rotuladas_df.empresa_devedora_uniao.value_counts()

False    1521397
True       38546
Name: empresa_devedora_uniao, dtype: int64

In [7]:
empresas_rotuladas_df

                   cnpj  empresa_devedora_uniao
0        00000942000170                   False
1        00001102000121                   False
2        00005201000181                    True
3        00005201000262                   False
4        00010501000159                   False
...                 ...                     ...
1559938  98593668000194                   False
1559939  98669997000252                    True
1559940  98670235000195                   False
1559941  98670656000116                   False
1559942  98674195000150                    True

[1559943 rows x 2 columns]

In [8]:
# Salvando resultado:
empresas_rotuladas_df.to_csv(r'C:\DATASETS\Empresas Rotuladas\empresas_rotuladas-devedores_da_uniao.csv', index = False)