In [1]:
import pandas as pd
import numpy as np

In [2]:
# IMPORTAÇÃO DA BASE DE SÓCIOS
socios_empresas_rotuladas_df = pd.read_csv(r'C:\DATASETS\Empresas Rotuladas\socios_empresas_rotuladas.csv', dtype=str)
socios_empresas_rotuladas_df

,cnpj,cnpj_cpf_socio,nome_socio,tempo_de_sociedade,cnpj_cpf_socio_mascarado
0,00000000000191,***923641**,MARCIO HAMILTON FERREIRA,11,***923641**
1,00000000000191,***491386**,NILSON MARTINIANO MOREIRA,11,***491386**
2,00000000000191,***718468**,WALTER MALIENI JUNIOR,11,***718468**
3,00000000000191,***415907**,CARLOS ALBERTO ARAUJO NETTO,9,***415907**
4,00000000000191,***022878**,ANTONIO MAURICIO MAURANO,9,***022878**
...,...,...,...,...,...
1683063,97541975000169,26090628859,EDIVALDO ALVES DE ARAUJO,10,***906288**
1683064,97542225000101,01095040707,CARLOS HENRIQUE ROCHA DE SOUZA,10,***950407**
1683065,97543869000114,72399317491,MARIO JORGE LIMA DA SILVA,10,***993174**
1683066,97548003000104,03028898330,CARLOS ADRIANO ROSA DA SILVA,10,***288983**
1683067,97549681000183,90619544449,JOSENILDO JOSE DE LIMA,10,***195444**

In [3]:
# Remover coluna de tempo_de_sociedade, não necessária aqui
socios_empresas_rotuladas_df.drop(columns=['tempo_de_sociedade'], inplace=True)

### Junção com a base de pessoas politicamente expostas:

In [5]:
# IMPORTAÇÃO DA BASE DE PESSOAS POLITICAMENTE EXPOSTAS:
pep_df = pd.read_csv(r'C:\DATASETS\Pessoa Exposta Politicamente\pessoa_politicamente_exposta.csv', dtype=str, encoding='latin-1')
pep_df

                CPF                               Nome_PEP
0       ***708767**              AARAO DE MOURA BRITO NETO
1       ***810311**                   AAVA SANTIAGO AGUIAR
2       ***333581**                 ABADIA DE MOURA MORAES
3       ***265851**  ABADIAS SOUZA DO NASCIMENTO DAMASCENO
4       ***705901**                ABADIO RIBEIRO DA ROCHA
...             ...                                    ...
111587  ***032389**                ZULMIRA BAPTISTA GENARO
111588  ***122585**            ZULMIRO FERREIRA DOS SANTOS
111589  ***154159**                          ZULNEI JOCHEM
111590  ***391321**                ZURAILDO MATOS DA SILVA
111591  ***164502**                  ZUVEIDE SILVA BEZERRA

[111592 rows x 2 columns]

In [8]:
socios_empresas_rotuladas_df['socio_pessoa_politicamente_exposta'] = socios_empresas_rotuladas_df.merge(pep_df, left_on=['cnpj_cpf_socio_mascarado', 'nome_socio'], right_on=['CPF', 'Nome_PEP'], how='left', indicator=True).eval('_merge == "both"').astype(int)
socios_empresas_rotuladas_df

,cnpj,cnpj_cpf_socio,nome_socio,cnpj_cpf_socio_mascarado,socio_pessoa_politicamente_exposta
0,00000000000191,***923641**,MARCIO HAMILTON FERREIRA,***923641**,0
1,00000000000191,***491386**,NILSON MARTINIANO MOREIRA,***491386**,1
2,00000000000191,***718468**,WALTER MALIENI JUNIOR,***718468**,1
3,00000000000191,***415907**,CARLOS ALBERTO ARAUJO NETTO,***415907**,1
4,00000000000191,***022878**,ANTONIO MAURICIO MAURANO,***022878**,1
...,...,...,...,...,...
1683063,97541975000169,26090628859,EDIVALDO ALVES DE ARAUJO,***906288**,0
1683064,97542225000101,01095040707,CARLOS HENRIQUE ROCHA DE SOUZA,***950407**,0
1683065,97543869000114,72399317491,MARIO JORGE LIMA DA SILVA,***993174**,0
1683066,97548003000104,03028898330,CARLOS ADRIANO ROSA DA SILVA,***288983**,0
1683067,97549681000183,90619544449,JOSENILDO JOSE DE LIMA,***195444**,0

Verificando resultados:

In [11]:
socios_empresas_rotuladas_df.socio_pessoa_politicamente_exposta.value_counts()

0    1680386
1       2682
Name: socio_pessoa_politicamente_exposta, dtype: int64

In [12]:
# Salvando resultado:
socios_empresas_rotuladas_df.to_csv(r'C:\DATASETS\Empresas Rotuladas\socios_empresas_rotuladas-pessoa_politicamente_exposta.csv', index = False)