In [1]:
import pandas as pd
import numpy as np

In [2]:
# IMPORTAÇÃO DA BASE DE SÓCIOS
socios_empresas_rotuladas_df = pd.read_csv(r'C:\DATASETS\Empresas Rotuladas\socios_empresas_rotuladas.csv', dtype=str)
socios_empresas_rotuladas_df

,cnpj,cnpj_cpf_socio,nome_socio,tempo_de_sociedade,cnpj_cpf_socio_mascarado
0,00000000000191,***923641**,MARCIO HAMILTON FERREIRA,11,***923641**
1,00000000000191,***491386**,NILSON MARTINIANO MOREIRA,11,***491386**
2,00000000000191,***718468**,WALTER MALIENI JUNIOR,11,***718468**
3,00000000000191,***415907**,CARLOS ALBERTO ARAUJO NETTO,9,***415907**
4,00000000000191,***022878**,ANTONIO MAURICIO MAURANO,9,***022878**
...,...,...,...,...,...
1683063,97541975000169,26090628859,EDIVALDO ALVES DE ARAUJO,10,***906288**
1683064,97542225000101,01095040707,CARLOS HENRIQUE ROCHA DE SOUZA,10,***950407**
1683065,97543869000114,72399317491,MARIO JORGE LIMA DA SILVA,10,***993174**
1683066,97548003000104,03028898330,CARLOS ADRIANO ROSA DA SILVA,10,***288983**
1683067,97549681000183,90619544449,JOSENILDO JOSE DE LIMA,10,***195444**

In [3]:
# Remover coluna de tempo_de_sociedade, não necessária aqui
socios_empresas_rotuladas_df.drop(columns=['tempo_de_sociedade'], inplace=True)

### Junção com a base do bolsa família:

In [4]:
# IMPORTAÇÃO DA BASE DE PESSOAS QUE RECEBERAM PAGAMENTO DO BOLSA FAMÍLIA:
bolsa_familia_df = pd.read_csv(r'C:\DATASETS\Bolsa Família\bolsa_familia.csv', dtype=str, encoding='latin-1')
bolsa_familia_df

                  CPF                    nome_favorecido
0         ***361206**              ADRIANA RANGEL SANSAO
1         ***421636**            ALEXSANDRA PEREIRA MUTZ
2         ***770636**        ELIANA CRISTINA ROCHA SILVA
3         ***331186**                     ELIANE PEREIRA
4         ***594436**    IOLANDA DE ASSIS SILVA CESARINO
...               ...                                ...
14617739  ***375561**   LUCIMAR GONCALVES DE SOUZA COSTA
14617740  ***314221**         RAIMUNDA ARAUJO DO ROSARIO
14617741  ***457631**   REGINA CELIA BERNARDO DOS SANTOS
14617742  ***400361**     RENIANE GOMES DE OLIVEIRA LEAL
14617743  ***153991**  ANA PAULA BRITO PACHECO FERNANDES

[14617744 rows x 2 columns]

In [5]:
socios_empresas_rotuladas_df['socio_solicitou_bolsa_familia'] = socios_empresas_rotuladas_df.merge(bolsa_familia_df, left_on=['cnpj_cpf_socio_mascarado', 'nome_socio'], right_on=['CPF', 'nome_favorecido'], how='left', indicator=True).eval('_merge == "both"').astype(int)
socios_empresas_rotuladas_df

,cnpj,cnpj_cpf_socio,nome_socio,cnpj_cpf_socio_mascarado,socio_solicitou_bolsa_familia
0,00000000000191,***923641**,MARCIO HAMILTON FERREIRA,***923641**,0
1,00000000000191,***491386**,NILSON MARTINIANO MOREIRA,***491386**,0
2,00000000000191,***718468**,WALTER MALIENI JUNIOR,***718468**,0
3,00000000000191,***415907**,CARLOS ALBERTO ARAUJO NETTO,***415907**,0
4,00000000000191,***022878**,ANTONIO MAURICIO MAURANO,***022878**,0
...,...,...,...,...,...
1683063,97541975000169,26090628859,EDIVALDO ALVES DE ARAUJO,***906288**,0
1683064,97542225000101,01095040707,CARLOS HENRIQUE ROCHA DE SOUZA,***950407**,0
1683065,97543869000114,72399317491,MARIO JORGE LIMA DA SILVA,***993174**,0
1683066,97548003000104,03028898330,CARLOS ADRIANO ROSA DA SILVA,***288983**,0
1683067,97549681000183,90619544449,JOSENILDO JOSE DE LIMA,***195444**,0

Verificando resultados:

In [6]:
socios_empresas_rotuladas_df.socio_solicitou_bolsa_familia.value_counts()

0    1590256
1      92812
Name: socio_solicitou_bolsa_familia, dtype: int64

In [7]:
# Salvando resultado:
socios_empresas_rotuladas_df.to_csv(r'C:\DATASETS\Empresas Rotuladas\socios_empresas_rotuladas-bolsa_familia.csv', index=False)