In [1]:
import pandas as pd
import numpy as np

In [2]:
# IMPORTAÇÃO DA BASE DE SÓCIOS
socios_empresas_rotuladas_df = pd.read_csv(r'C:\DATASETS\Empresas Rotuladas\socios_empresas_rotuladas.csv', dtype=str)
socios_empresas_rotuladas_df

,cnpj,cnpj_cpf_socio,nome_socio,tempo_de_sociedade,cnpj_cpf_socio_mascarado
0,00000000000191,***923641**,MARCIO HAMILTON FERREIRA,11,***923641**
1,00000000000191,***491386**,NILSON MARTINIANO MOREIRA,11,***491386**
2,00000000000191,***718468**,WALTER MALIENI JUNIOR,11,***718468**
3,00000000000191,***415907**,CARLOS ALBERTO ARAUJO NETTO,9,***415907**
4,00000000000191,***022878**,ANTONIO MAURICIO MAURANO,9,***022878**
...,...,...,...,...,...
1683063,97541975000169,26090628859,EDIVALDO ALVES DE ARAUJO,10,***906288**
1683064,97542225000101,01095040707,CARLOS HENRIQUE ROCHA DE SOUZA,10,***950407**
1683065,97543869000114,72399317491,MARIO JORGE LIMA DA SILVA,10,***993174**
1683066,97548003000104,03028898330,CARLOS ADRIANO ROSA DA SILVA,10,***288983**
1683067,97549681000183,90619544449,JOSENILDO JOSE DE LIMA,10,***195444**

In [3]:
# Remover coluna de tempo_de_sociedade, não necessária aqui
socios_empresas_rotuladas_df.drop(columns=['tempo_de_sociedade'], inplace=True)

### Junção com a base de auxílio emergencial:

In [4]:
# IMPORTAÇÃO DA BASE DE PESSOAS QUE FORAM CANDIDATAS NAS ELEIÇÕES:
auxilio_df = pd.read_csv(r'C:\DATASETS\Auxilio Emergencial\auxilio_emergencial.csv', dtype=str, encoding='latin-1')
auxilio_df

,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,auxilio_emergencial_bloqueado
0,***000000**,AALYHA MELO RODRIGUES CARVALHO,False
1,***000000**,AAPINA PARAKANA,False
2,***000000**,AARAO MARTINS DE MACEDO,False
3,***000000**,AARON CARTER BELTRAO DOS SANTOS,False
4,***000000**,AARON PAULO CARDOSO NETO,False
...,...,...,...
68197048,***999999**,VINICIUS DE AZEREDO,False
68197049,***999999**,VIVIANE APARECIDA DE FREITAS,False
68197050,***999999**,ZENAIDE DE SOUZA SIMOES SELHORST,False
68197051,***999999**,ZEUNICE DE FATIMA ROCHA FERREIRA,False
68197052,***999999**,ZILDA APARECIDA VENTURA SCANDIUSSI,False

In [5]:
socios_empresas_rotuladas_df = socios_empresas_rotuladas_df.merge(auxilio_df, left_on=['cnpj_cpf_socio_mascarado', 'nome_socio'], right_on=['CPF BENEFICIÁRIO', 'NOME BENEFICIÁRIO'], how='left', indicator='socio_solicitou_auxilio_emergencial')
socios_empresas_rotuladas_df.socio_solicitou_auxilio_emergencial = np.where(socios_empresas_rotuladas_df.socio_solicitou_auxilio_emergencial=='both', 1, 0).astype(np.uint8)
socios_empresas_rotuladas_df.auxilio_emergencial_bloqueado = np.where(socios_empresas_rotuladas_df.auxilio_emergencial_bloqueado=='True', 1, 0).astype(np.uint8)
socios_empresas_rotuladas_df.fillna({'socio_solicitou_auxilio_emergencial': 0, "auxilio_emergencial_bloqueado": 0}, inplace=True)
socios_empresas_rotuladas_df

,cnpj,cnpj_cpf_socio,nome_socio,cnpj_cpf_socio_mascarado,CPF BENEFICIÁRIO,NOME BENEFICIÁRIO,auxilio_emergencial_bloqueado,socio_solicitou_auxilio_emergencial
0,00000000000191,***923641**,MARCIO HAMILTON FERREIRA,***923641**,NaN,NaN,0,0
1,00000000000191,***491386**,NILSON MARTINIANO MOREIRA,***491386**,NaN,NaN,0,0
2,00000000000191,***718468**,WALTER MALIENI JUNIOR,***718468**,NaN,NaN,0,0
3,00000000000191,***415907**,CARLOS ALBERTO ARAUJO NETTO,***415907**,NaN,NaN,0,0
4,00000000000191,***022878**,ANTONIO MAURICIO MAURANO,***022878**,NaN,NaN,0,0
...,...,...,...,...,...,...,...,...
1683063,97541975000169,26090628859,EDIVALDO ALVES DE ARAUJO,***906288**,NaN,NaN,0,0
1683064,97542225000101,01095040707,CARLOS HENRIQUE ROCHA DE SOUZA,***950407**,***950407**,CARLOS HENRIQUE ROCHA DE SOUZA,0,1
1683065,97543869000114,72399317491,MARIO JORGE LIMA DA SILVA,***993174**,***993174**,MARIO JORGE LIMA DA SILVA,0,1
1683066,97548003000104,03028898330,CARLOS ADRIANO ROSA DA SILVA,***288983**,***288983**,CARLOS ADRIANO ROSA DA SILVA,0,1
1683067,97549681000183,90619544449,JOSENILDO JOSE DE LIMA,***195444**,***195444**,JOSENILDO JOSE DE LIMA,0,1

Verificando resultados:

In [6]:
print(socios_empresas_rotuladas_df.socio_solicitou_auxilio_emergencial.value_counts())
print(socios_empresas_rotuladas_df.auxilio_emergencial_bloqueado.value_counts())

0    878662
1    804406
Name: socio_solicitou_auxilio_emergencial, dtype: int64
0    1643423
1      39645
Name: auxilio_emergencial_bloqueado, dtype: int64

In [7]:
socios_empresas_rotuladas_df = socios_empresas_rotuladas_df.drop(columns=['CPF BENEFICIÁRIO', 'NOME BENEFICIÁRIO'])

In [8]:
# Salvando resultado:
socios_empresas_rotuladas_df.to_csv(r'C:\DATASETS\Empresas Rotuladas\socios_empresas_rotuladas-auxilio_emergencial.csv', index=False)