In [1]:
import pandas as pd
import numpy as np

In [2]:
# IMPORTAÇÃO DA BASE DE SÓCIOS
socios_empresas_rotuladas_df = pd.read_csv(r'C:\DATASETS\Empresas Rotuladas\socios_empresas_rotuladas.csv', dtype=str)
socios_empresas_rotuladas_df

,cnpj,cnpj_cpf_socio,nome_socio,tempo_de_sociedade,cnpj_cpf_socio_mascarado
0,00000000000191,***923641**,MARCIO HAMILTON FERREIRA,11,***923641**
1,00000000000191,***491386**,NILSON MARTINIANO MOREIRA,11,***491386**
2,00000000000191,***718468**,WALTER MALIENI JUNIOR,11,***718468**
3,00000000000191,***415907**,CARLOS ALBERTO ARAUJO NETTO,9,***415907**
4,00000000000191,***022878**,ANTONIO MAURICIO MAURANO,9,***022878**
...,...,...,...,...,...
1683063,97541975000169,26090628859,EDIVALDO ALVES DE ARAUJO,10,***906288**
1683064,97542225000101,01095040707,CARLOS HENRIQUE ROCHA DE SOUZA,10,***950407**
1683065,97543869000114,72399317491,MARIO JORGE LIMA DA SILVA,10,***993174**
1683066,97548003000104,03028898330,CARLOS ADRIANO ROSA DA SILVA,10,***288983**
1683067,97549681000183,90619544449,JOSENILDO JOSE DE LIMA,10,***195444**

In [3]:
# Remover coluna de tempo_de_sociedade, não necessária aqui
socios_empresas_rotuladas_df.drop(columns=['tempo_de_sociedade'], inplace=True)

### Junção com a base do Seguro Defeso:

In [4]:
# IMPORTAÇÃO DA BASE DE PESSOAS QUE RECEBERAM SEGURO DEFESO:
seguro_defeso_df = pd.read_csv(r'C:\DATASETS\Seguro Defeso\seguro_defeso.csv', dtype=str, encoding='latin-1')
seguro_defeso_df

                CPF                nome_favorecido
0       ***047012**       ADELSON BOTELHO HERINGER
1       ***563542**        ADRIANA AMORIM DA SILVA
2       ***188352**   ADRIANO DO NASCIMENTO CAMPOS
3       ***639614**          ANILDO FARIAS BARRETO
4       ***430932**  APARECIDO CALDEIRA DOS SANTOS
...             ...                            ...
405727  ***717748**     EDINALDO APARECIDO DE MELO
405728  ***419378**            JOAO CARLOS MARINHO
405729  ***681251**       AMARILDO PENHA DE ARAUJO
405730  ***183718**        MASOLENE DA SILVA CUNHA
405731  ***333428**     CAIO CESAR FLORO ALEXANDRE

[405732 rows x 2 columns]

In [5]:
socios_empresas_rotuladas_df['socio_solicitou_seguro_defeso'] = socios_empresas_rotuladas_df.merge(seguro_defeso_df, left_on=['cnpj_cpf_socio_mascarado', 'nome_socio'], right_on=['CPF', 'nome_favorecido'], how='left', indicator=True).eval('_merge == "both"').astype(int)
socios_empresas_rotuladas_df

,cnpj,cnpj_cpf_socio,nome_socio,cnpj_cpf_socio_mascarado,socio_solicitou_seguro_defeso
0,00000000000191,***923641**,MARCIO HAMILTON FERREIRA,***923641**,0
1,00000000000191,***491386**,NILSON MARTINIANO MOREIRA,***491386**,0
2,00000000000191,***718468**,WALTER MALIENI JUNIOR,***718468**,0
3,00000000000191,***415907**,CARLOS ALBERTO ARAUJO NETTO,***415907**,0
4,00000000000191,***022878**,ANTONIO MAURICIO MAURANO,***022878**,0
...,...,...,...,...,...
1683063,97541975000169,26090628859,EDIVALDO ALVES DE ARAUJO,***906288**,0
1683064,97542225000101,01095040707,CARLOS HENRIQUE ROCHA DE SOUZA,***950407**,0
1683065,97543869000114,72399317491,MARIO JORGE LIMA DA SILVA,***993174**,0
1683066,97548003000104,03028898330,CARLOS ADRIANO ROSA DA SILVA,***288983**,0
1683067,97549681000183,90619544449,JOSENILDO JOSE DE LIMA,***195444**,0

Verificando resultados:

In [6]:
socios_empresas_rotuladas_df.socio_solicitou_seguro_defeso.value_counts()

0    1682088
1        980
Name: socio_solicitou_seguro_defeso, dtype: int64

In [7]:
# Salvando resultado:
socios_empresas_rotuladas_df.to_csv(r'C:\DATASETS\Empresas Rotuladas\socios_empresas_rotuladas-seguro_defeso.csv', index=False)